$font-family: "Montserrat", sans-serif;

$body-bg: #fff;
$main-color: #6DAFE5;
$txt-color: #262626;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$border-radius: 100px;
$mobile-width: 600px;
$tablet-width: 1024px;